.leftContainer {
    width: 480px;
}

.rightContainer {
    margin-left: 64px;
}

.saveButton {
    position: absolute;
    right: 96px;
    top: 165px;
}

.contentContainer { 
    width: 80%;
    margin-left: 12px;
    height: 70vh;
    overflow: auto;
}

.tabContainer {
    position: sticky;
    top: 0;
    background: var(--body-background);
    z-index: 2;
}

.formLeftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formRightContainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formContainer {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}