

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
    gap: 1em;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}